#editor-section {
  background: rgb(227, 227, 227);
  display: grid;
  grid-template-columns: 1fr 2.3fr 1fr;
  padding-top: 125px;
  min-height: 100%;
}

#editor-container {
  background: white;
  min-height: 100%;
  min-width: 730px;
  padding: 6rem 6rem 3rem 6rem;
}

#editor-area-right, 
#editor-area-left {
  height: 100%;
  padding: 2rem;
  background: #e3e3e3;
}

#export-btn {
  position: fixed;
  bottom: 2rem;
}