.p-sentence {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  height: fit-content;
  transition: background 0.5s ease;
}
.sentence-playing {
  background: rgba(255, 255, 0, 0.1)
}

.sentence-play {
  cursor: pointer;
  opacity: 0.5;
  position: relative;
  top: 5px;
}

.sentence-play-btn {
  border: 2px solid rgb(114, 214, 135) !important;
  color: rgb(114, 214, 135) !important;
  background: white !important;
}

.sentence-play-btn:hover {
  border: 2px solid rgb(62, 164, 84) !important;
  color: rgb(62, 164, 84) !important;
  background: white !important;
}

.ui.popup {
  padding: 0.5em 1em !important;
}