.p-sentence {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  height: fit-content;
  transition: background 0.5s ease;
  color: black;
}

.timestamp {
  color: rgb(123, 123, 123);
}

.sentence-playing {
  background: rgba(255, 255, 0, 0.1);
}

p.tone-down {
  color: rgb(151, 151, 151) !important;
}

.sentence-play {
  cursor: pointer;
  opacity: 0.5;
  position: relative;
  top: 5px;
}

.popup-btn {
  border-style: solid !important;
  border-width: 2px !important;
  background: white !important;
}

.sentence-play-btn {
  border-color: rgb(114, 214, 135) !important;
  color: rgb(114, 214, 135) !important;
}

.sentence-play-btn:hover {
  border-color: rgb(62, 164, 84) !important;
  color: rgb(62, 164, 84) !important;
}

.add-timestamp-btn {
  border-color: rgb(122, 218, 240) !important;
  color: rgb(122, 218, 240) !important; 
}

.add-timestamp-btn:hover {
  border-color: rgb(84, 132, 143) !important;
  color: rgb(84, 132, 143) !important;
}

.ui.popup {
  padding: 0.5em 1em !important;
}

/* to force popup to hide while recording */
.ui.left.center.popup.transition.visible.display-none {
  display: none !important;
}