#transcribe-section {
  background: rgb(227, 227, 227);
}

#transcribe-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  background: white;
  width: 55%;
  min-height: 100%;
  padding-right: 6%;
  padding-left: 3%;
  padding-top: 6rem;

}

#transcribe-box {
  width: 100%;
  height: 100%;
  border:1px solid rgb(218, 218, 218);
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.span-keyword {
  background: rgba(106, 180, 106, 0.18);
  white-space: nowrap;
  transition: background 0.5s ease;
}

.keyword-active {
  background: rgba(106, 180, 106, 0.5);
}

.sentence-play {
  cursor: pointer;
  opacity: 0.5;
  position: relative;
  top: 5px;
}

.sentence-active {
  background: yellow;
}