#transcribe-section {
  background: rgb(227, 227, 227);
}

#transcribe-container {
  background: white;
  width: 55%;
  min-height: 100%;
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 6rem;

}

#transcribe-box {
  width: 100%;
  height: 100%;
  border:1px solid rgb(218, 218, 218);
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.span-keyword {
  background: rgba(106, 180, 106, 0.18);
  /* padding-left: 1px;
  margin-right: 1px; */
  white-space: nowrap;
}

.sentence-play {
  cursor: pointer;
  opacity: 0.5;
}
