/* MARGIN */

.ml-05 {
  margin-left: 0.5rem;
}

.mr-05 {
  margin-right: 0.5rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

/* PADDING */
.p-05{
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pt-1 {
  padding-top: 1rem;
} 

.pb-1 {
 padding-bottom: 1rem;
}

/* FLEXBOX */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

/* only chrome! */
.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

/* WIDTH */
.full-width {
  width:100%;
}

/* COLORS */

.warning {
  color: #e65d4f;
}

.success {
  color: #39a54f;
}

.off-white {
  color: #e3e3e3;
}

/* MISC */

.nowrap {
  white-space: nowrap;
}

.cursor-pointer {
  cursor:pointer;
}

.align-left {
  text-align: left !important;
}

/* UI tweaks  */

.ui.inline.dropdown>.text {
  font-weight: normal;
}